name: Build project

on: push
jobs:
  buildForAllSupportedPlatforms:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        targetPlatform: [Android, iOS, StandaloneWindows, StandaloneLinux64, StandaloneOSX]
    steps:
      - name: Clean up Docker images
        run: docker system prune -af

      - name: Remove unnecessary packages
        run: sudo apt-get clean

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - uses: actions/cache@v3
        with:
          path: |
            Library
            Packages
          key: Library-Packages-${{ matrix.targetPlatform }}
          restore-keys: |
            Library-Packages-
            Library-
            Packages-

      - if: matrix.targetPlatform == 'Android'
        uses: jlumbroso/free-disk-space@v1.3.1

      - uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: ${{ matrix.targetPlatform }}

      - uses: actions/upload-artifact@v4
        with:
          name: Build-${{ matrix.targetPlatform }}
          path: build/${{ matrix.targetPlatform }}
